@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primaryPurple: #646ff0;
  --primaryRose: #be123c;
  --black1: #646681;
  --black2: #585858;
  --bg1: #f8f8ff;
  --bg2: #ecedf6;
  --bg3: #cccdde;
  --gray1: #eee;
  --gray2: #dedfe1;
  --black: black;
  --white: white;
  --red: red;
  --rose-500: #f43f5e;
  --rose-600: #e11d48;
  --rose-700: #be123c;
  --blue-500: #3b82f6;
  --blue-600: #2563eb;
  --blue-700: #1d4ed8;
  --sky-500: #0ea5e9;
  --sky-600: #0284c7;
  --sky-700: #0369a1;
  --gray-500: #64748b;
  --gray-600: #475569;
  --gray-700: #334155;
}

.inputVal {
  width: 100%;
  color: #334155;
  padding: 10px;
  border: none;
  outline: none;
  border-radius: 5px;
  margin-top: 5px;
  margin-bottom: 10px;
  font-size: 16px;
}

.errMsg {
  color: var(--rose-700);
}

@layer components {
  .btn-primary {
    @apply relative flex w-28 justify-center rounded-md bg-indigo-600 mt-5 py-2 px-3 text-base font-semibold text-white hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600;
  }
}

@layer components {
  .btn-fw {
    @apply w-full
  }
}

@layer components {
  .inputText {
    @apply w-full p-2 border-0 outline-0 rounded text-base text-gray-600 mt-2 mb-2
  }
}